@model Person

@{
    ViewData["Title"] = "Delete";
}

<div>
    <div class="header">
        <h1>Person Löschen</h1>
        <h2>Sind Sie sicher, dass Sie die Person löschen wollen?</h2>
    </div>
    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(person => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(person => person.LastName)
            </td>
            <td>
                @Html.DisplayFor(person => person.Age)
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form asp-action="Delete">
            <a asp-controller="Home" asp-action="Persons" class="btn btn-default" style="margin-right: 12px">Zurück zur Liste</a>
            <input type="submit" value="Löschen" class="btn btn-primary"/>
        </form>
    </div>
</div>